Repository kelvintaywl/dynamic-config-monorepo: changes, and which CircleCI parameters are due for each by the changed paths.
All: server-changed, client-changed

.circleci/config.yml:

version: 2.1

setup: true

orbs: 
  path-filtering: circleci/path-filtering@0.1.2

workflows:
  setup:
    jobs:
      - path-filtering/filter:
          base-revision: main
          config-path: .circleci/continue-config.yml
          mapping: |
            server/.* server-changed true
            client/.* client-changed true

docs: update README.md
  README.md
Due: none

fix: use right yml file name
  .circleci/config.yml
Due: none

feat: update Server code
  server/main.py
Due: server-changed

feat: update Client code
  client/main.js
Due: client-changed

refactor: change names on Server and Client
  client/main.js
  server/main.py
Due: server-changed, client-changed
